BasedOnStyle: Google
IndentWidth: 2
BracedInitializerIndentWidth: 2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
BreakBeforeBraces: Allman
InsertNewlineAtEOF: true
AllowShortFunctionsOnASingleLine: false
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: BlockIndent
InsertTrailingCommas: Wrapped
